<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ .Site.Data.meta.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="author" href="humans.txt" />
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        
        <h1>{{ .Site.Data.meta.title }} <br/><small>{{ .Site.Data.meta.subtitle }}</small></h1>
        <p>Brought to you by {{ .Site.Data.meta.author }}</p>

        <script src="js/app.js"></script>
    </body>
</html>
